.cards {
  background-color: rgba(166, 221, 247, 0.73);
  padding: 5rem 0;

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 40rem);
    grid-gap: 5rem;
    width: 80%;
    margin: 0 auto;
    justify-content: center;

    @include respond(tab-land) {
      grid-template-columns: repeat(auto-fill, 38rem);
    }

    @include respond(tab-port) {
      grid-template-columns: repeat(auto-fill, 33rem);
      grid-gap: 3rem;
      width: 90%;
    }

    @include respond(phone-port) {
      grid-template-columns: repeat(auto-fill, 100%);
      grid-gap: 3rem;
      width: 90%;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #338cba;
    padding: 4rem;
    text-align: center;
    height: 35rem;
    border-radius: 8px;

    @include respond(tab-port) {
      height: 30rem;
    }

    &__image {
      height: 12rem;
      width: auto;
    }

    &__title {
      color: $green;
      font-weight: 700;
      margin-bottom: 0;
    }
  }
}
