.cta {
  padding: 9rem 0;
  text-align: center;

  &__header {
    font-size: 3.2rem;
    font-weight: 700;

    @include respond(phone-port) {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 3rem;
    }
  }

  &__text {
    width: 50rem;
    font-size: 1.8rem;
    margin: 0 auto 8rem auto;

    @include respond(phone-port) {
      width: 80%;
    }
  }

  &__btn {
    background-color: $red;
    outline: none;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 3rem;
    padding: 2rem 4rem;
    border-radius: 3px;
    transition: all ease-in-out 0.3s;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 7px 6px 15px -2px rgba(131, 131, 131, 0.75);
      cursor: pointer;
    }

    @include respond(phone-port) {
      font-size: 2.5rem;
    }
  }
}
