.hero {
  height: 80vh;
  background-image: url("https://cdn.salesjet.io/122/funnel_files/1121/38_hero.a3f9c54d23e5c74e278968af4ef39795.png");
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;

  @include respond(phone-land) {
    display: block;
  }

  &__text-box {
    width: 60%;
    color: $white;
    margin: 0 auto;
    transform: translateX(-4rem);

    @include respond(phone-port) {
      padding-top: 10rem;
      width: 100%;
      transform: none;
      margin-left: 2rem;
    }
    @include respond(iphone-5) {
      padding-top: 8rem;
    }
  }

  &__header {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 4.5rem;
    line-height: 1;
    width: 45%;

    @include respond(tab-land) {
      width: 90%;
    }

    @include respond(phone-land) {
      padding-top: 2rem;
      font-size: 2rem;
    }

    @include respond(phone-port) {
      font-size: 3.5rem;
    }

    @include respond(iphone-5) {
      font-size: 2.5rem;
      width: 80%;
    }
  }

  &__subtitle {
    font-size: 2.5rem;
    width: 30%;
    line-height: 1.3;

    @include respond(tab-land) {
      width: 70%;
    }

    @include respond(phone-land) {
      font-size: 1.8rem;
    }

    @include respond(phone-port) {
      font-size: 2.3rem;
    }

    @include respond(iphone-5) {
      font-size: 1.8rem;
    }
  }
}
