.testimonials {
  width: 80%;
  background-color: $details-background;
  margin: 0 auto;
  padding: 4rem;
  text-align: center;

  @include respond(phone-port) {
    width: 100%;
    margin: 0;
    padding: 4rem 0;
  }

  &__title {
    font-weight: 700;
    color: $blue;
    text-align: center;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 45rem);
    grid-gap: 5rem;
    justify-content: center;

    @include respond(phone-port) {
      grid-template-columns: repeat(auto-fit, 80%);
    }
  }

  .testimonial {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.8rem;

    &__text {
    }
  }
}
