@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,900&display=swap");

/*@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/iCiel-Gotham-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/Metropolis-Black.otf") format("opentype");
}*/
